@use "../global/" as global;

.u-inner {
  padding-inline: 20px;
  @include global.mq("md") {
    padding-inline: 24px;
  }
}

.u-header__button {
  margin-left: 4px;

  @include global.mq("md") {
    height: 36px;
    display: flex;
    align-items: center;
    padding: 6px 24px 8px 21px;
    font-size: 14px;
  }
}

.u-sp__hidden {
  display: none;
  @include global.mq("md") {
    display: inline-block;
  }
}

.u-pc__hidden {
  @include global.mq("md") {
    display: none;
  }
}

.u-under-line {
  text-decoration-line: underline;
  text-underline-offset: 2px;
}

.u-bold {
  font-weight: 700;
}

.u-enter__line-shift{
  @include global.mq("md"){
    left: -80px;
  }
  @include global.mq("lg"){
left: -97px;
  }
}

.u-underline{
  text-decoration: underline;
  text-underline-offset: 2px;
}