// 色
$main-color:#9ED0E0;
$accent-color-red:  #CE2073;
$accent-color-yellow: #FFEE56;


// ブレイクポイント
$breakpoints :(
    sm: "screen and (min-width: 600px)",
    md: "screen and (min-width: 750px)",
    lg: "screen and (min-width: 950px)",
    xl: "screen and (min-width: 1230px)",
    ll: "screen and (min-width: 1320px)",
)

