*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td {
	border: 0;
	font-size: 100%;
	font-weight: normal;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

header,
footer,
nav,
section,
article,
main,
aside,
figure,
figcaption {
	display: block;
}

ol,
ul,
li {
	list-style: none;
}

img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	background: transparent;
	border: none;
	box-shadow: none;
	cursor: pointer;
	font: inherit;
	margin: 0;
	padding: 0;
}

input,
select,
textarea {
	color: inherit;
	font: inherit;
	vertical-align: top;
}

q {
	quotes: '"' '"';
}

body {
	color: #4A3636;
	font-family: "Noto Sans JP", serif;
	font-size: 16px;
}

.l-header {
	background: #fff;
	padding-bottom: 16px;
	padding-top: 16px;
	position: fixed;
	width: 100%;
	z-index: 1000;
}

.l-header__container {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.l-header__logo img {
	flex-shrink: 0;
	height: 27px;
	width: 210px;
}

.l-header__open {
	height: 32px;
	position: relative;
	width: 32px;
}

.l-header__open-bar {
	background: #4a3636;
	border-radius: 1.5px;
	height: 3px;
	position: absolute;
	transition: all 0.3s ease;
}

.l-header__open-bar:nth-of-type(1) {
	left: 0;
	top: 2px;
	width: 25.6px;
}

.l-header__open-bar:nth-of-type(2) {
	right: 0;
	top: 2px;
	width: 4.8px;
}

.l-header__open-bar:nth-of-type(3) {
	left: 0;
	opacity: 1;
	top: 14px;
	width: 32px;
}

.l-header__open-bar:nth-of-type(4) {
	left: 0;
	top: 26px;
	width: 32px;
}

.l-header__open-bar.is-active:nth-of-type(1) {
	top: 9px;
	transform: rotate(45deg);
}

.l-header__open-bar.is-active:nth-of-type(2) {
	left: 23px;
	top: 21px;
	transform: rotate(45deg);
}

.l-header__open-bar.is-active:nth-of-type(3) {
	opacity: 0;
}

.l-header__open-bar.is-active:nth-of-type(4) {
	top: 12px;
	transform: rotate(-45deg);
}

.l-header__drawer {
	background: #fff;
	height: 100%;
	left: 0;
	padding-top: 82px;
	position: fixed;
	top: 64px;
	transform: translateY(calc(-100% - 64px));
	transition: transform 0.4s linear;
	width: 100%;
	z-index: 500;
}

.l-header__drawer.is-checked {
	transform: translateY(0);
}

.l-header__drawer-menu {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.l-header__drawer-link {
	font-size: 14px;
	font-weight: 400;
	line-height: 1.6;
}

.l-header__drawer-button {
	background: var(--LP-White, #fff);
	border: 2px solid var(--LP-Blown, #4a3636);
	border-radius: 40px;
	box-shadow: 0px 4px 0px 0px #4a3636;
	padding: 6px 24px 8px 24px;
}

.l-header__drawer-button a {
	font-size: 16px;
	font-weight: 700;
	line-height: 1.6;
}

.l-header__pc-menu {
	display: none;
}

.l-header__pc-link {
	font-size: 11px;
	font-weight: 400;
	line-height: 1.6;
}

.c-button {
	display: flex;
	justify-content: center;
}

.c-button__text {
	background: var(--LP-White, #fff);
	border: 2px solid var(--LP-Blown, #4a3636);
	border-radius: 40px;
	box-shadow: 0px 4px 0px 0px #4a3636;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.6;
	padding: 6px 22px 5px 22px;
}

.c-title {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 6px;
	position: relative;
	z-index: 100;
}

.c-title__image {
	height: 37px;
	width: 37px;
}

.c-title__en {
	font-family: "Courgette", serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.25;
}

.c-title__ja {
	border-bottom: 6px solid var(--LP-Yellow, #ffee56);
	font-family: "Kiwi Maru", serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 1.25;
	padding-bottom: 6px;
}

.c-benefit {
	border: 2px transparent solid;
	border-radius: 10px;
	display: inline-block;
	position: relative;
	transition: border 0.5s ease;
	width: 160px;
	z-index: 1;
}

.c-benefit:hover {
	border: 2px #9ed0e0 solid;
}

.c-benefit:hover .c-benefit__image img {
	transform: scale(1.2);
}

.c-benefit:hover .c-benefit__zoom path {
	fill: #9ed0e0;
}

.c-benefit__icon-text-ja {
	color: #fff;
	font-size: 7.68px;
	font-weight: 700;
	left: 50%;
	line-height: 1.6;
	position: absolute;
	top: -18px;
	transform: translateX(-50%);
	z-index: 50;
}

.c-benefit__icon-text-number {
	color: #fff;
	font-family: "Josefin Sans", serif;
	font-size: 23.04px;
	font-weight: 700;
	left: 50%;
	line-height: 1;
	position: absolute;
	top: -5px;
	transform: translateX(-50%);
	z-index: 50;
}

.c-benefit__inner {
	align-items: center;
	background-color: #f5f5f5;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: relative;
}

.c-benefit__zoom {
	bottom: -1px;
	position: absolute;
	right: 0;
	z-index: 5;
}

.c-benefit__zoom path {
	transition: fill 0.5s ease;
}

.c-benefit__search {
	bottom: 6px;
	position: absolute;
	right: 4px;
	z-index: 10;
}

.c-benefit__icon {
	left: 50%;
	position: absolute;
	top: -24px;
	transform: translateX(-50%);
	z-index: 10;
}

.c-benefit__image {
	overflow: hidden;
}

.c-benefit__image img {
	height: 100%;
	transition: transform 0.5s ease;
	width: 100%;
}

.c-benefit__bottom {
	padding-bottom: 9px;
	padding-top: 9px;
	text-align: center;
}

.c-benefit__bottom-text {
	font-size: 12px;
	font-style: normal;
	font-weight: 700;
	line-height: 1.6;
}

.p-mv {
	background: var(--LP-Light-Blue, #e9f6f8);
	padding-bottom: 145px;
	padding-top: 64px;
}

.p-mv__inner {
	min-height: 554px;
	position: relative;
}

.p-mv__bg {
	left: 0;
	position: relative;
	top: 0;
	z-index: 10;
}

.p-mv__bg img {
	border-radius: 0px 0px 24px 24px;
	height: 554px;
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: center center;
	object-position: center center;
}

.p-mv__text-sub {
	color: var(--LP-Blown, #4a3636);
	font-family: "Kiwi Maru", serif;
	font-size: 14px;
	font-weight: 400;
	left: 50%;
	line-height: 1.25;
	padding-bottom: 20px;
	padding-top: 18px;
	position: absolute;
	text-align: center;
	text-shadow: 0px 0px 30px #fff;
	top: 0;
	transform: translateX(-50%);
	width: 100%;
	z-index: 50;
}

.p-mv__text-main {
	left: 50%;
	position: absolute;
	text-align: center;
	top: 73px;
	transform: translateX(-50%);
	width: 100%;
	z-index: 50;
}

.p-mv__text-main-first img {
	width: 335px;
}

.p-mv__text-main-second {
	padding-top: 12px;
}

.p-mv__text-main-second img {
	width: 240px;
}

.p-mv__body {
	bottom: -145px;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	z-index: 50;
}

.p-mv__body-iphone {
	display: inline-block;
	position: relative;
	z-index: 40;
}

.p-mv__body-iphone picture img {
	flex-shrink: 0;
	height: 408px;
	min-width: 200px;
}

.p-mv__body-fukidashi {
	left: -68px;
	position: absolute;
	top: -96px;
}

.p-mv__body-fukidashi img {
	width: 142px;
}

.p-mv__body-present {
	position: absolute;
	right: -42px;
	top: -103px;
	z-index: -1;
}

.p-mv__body-present img {
	flex-shrink: 0;
	height: 110px;
	width: 110px;
}

.p-mv__body-food {
	bottom: -11px;
	left: -68px;
	position: absolute;
}

.p-mv__body-food img {
	flex-shrink: 0;
	height: 141px;
	width: 90px;
}

.p-mv__body-catBlack {
	bottom: 47px;
	position: absolute;
	right: -67px;
	z-index: -1;
}

.p-mv__body-catBlack img {
	flex-shrink: 0;
	height: 69px;
	width: 62px;
}

.p-mv__body-catBrown {
	bottom: -11px;
	position: absolute;
	right: -58px;
}

.p-mv__body-catBrown img {
	flex-shrink: 0;
	height: 72px;
	width: 98px;
}

.p-campaign {
	background-color: #e9f6f8;
	padding-bottom: 100px;
	padding-top: 44px;
	position: relative;
}

.p-campaign__inner {
	overflow: hidden;
	position: relative;
}

.p-campaign__container {
	background: #fff;
	border-radius: 24px;
	overflow: hidden;
	padding-bottom: 40px;
	padding-inline: 43px;
	padding-top: 40px;
	position: relative;
	text-align: center;
	z-index: 20;
}

.p-campaign__deco01 {
	position: absolute;
	right: 0px;
	top: 33px;
}

.p-campaign__deco01 img {
	flex-shrink: 0;
	height: 120px;
	width: 54px;
}

.p-campaign__deco02 {
	position: absolute;
	right: -140px;
	top: 272px;
}

.p-campaign__deco02 img {
	flex-shrink: 0;
	height: 200px;
	width: 200px;
}

.p-campaign__deco03 {
	bottom: 114px;
	left: -140px;
	position: absolute;
}

.p-campaign__deco03 img {
	flex-shrink: 0;
	height: 200px;
	width: 200px;
}

.p-campaign__deco04 {
	bottom: 41px;
	position: absolute;
	right: 21px;
}

.p-campaign__deco04 img {
	flex-shrink: 0;
	height: 48px;
	width: 48px;
}

.p-campaign__deco05 {
	bottom: -18px;
	position: absolute;
	right: 57px;
}

.p-campaign__deco05 img {
	height: 65.003px;
	width: 133px;
}

.p-campaign__deco06 {
	display: none;
}

.p-campaign__deco07 {
	display: none;
}

.p-campaign__top {
	margin: 0 auto;
	max-width: 250px;
	position: relative;
}

.p-campaign__image01 {
	left: -9px;
	position: absolute;
	top: -9px;
}

.p-campaign__image01 img {
	width: 87px;
}

.p-campaign__image02 {
	position: absolute;
	right: -23px;
	top: -11px;
}

.p-campaign__image02 img {
	width: 87px;
}

.p-campaign__body-top {
	font-size: 14px;
	font-weight: 700;
	line-height: 1.6;
	padding-bottom: 21px;
	padding-top: 24px;
}

.p-campaign__body-middle {
	font-size: 12px;
	font-weight: 400;
	line-height: 1.6;
}

.p-campaign__body-middle + .p-campaign__body-middle {
	padding-top: 19px;
}

.p-campaign__body-middle--bold {
	font-weight: 700;
}

.p-campaign__body-end {
	border-bottom: 2px dashed var(--LP-Blue, #9ed0e0);
	font-size: 14px;
	font-weight: 700;
	line-height: 1.6;
	margin: 0 auto;
	max-width: 249px;
	padding-bottom: 6px;
	padding-top: 31px;
}

.p-campaign__button {
	padding-top: 24px;
}

.p-campaign__arrow {
	bottom: 59px;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
}

.p-campaign__arrow svg {
	height: 36px;
	width: 100px;
}

.p-onomichi {
	background-color: #e9f6f8;
	padding-top: 36px;
}

.p-onomichi__inner {
	position: relative;
}

.p-onomichi__bg {
	left: 0;
	position: absolute;
	top: -136px;
	z-index: 1;
}

.p-onomichi__bg img {
	flex-shrink: 0;
	width: 138px;
}

.p-onomichi__title {
	padding-inline: 9px;
	position: relative;
	text-align: center;
	transform: translateY(2px);
	z-index: 10;
}

.p-onomichi__title img {
	max-width: 890px;
	width: 100%;
}

.p-onomichi__slider {
	position: relative;
	z-index: 15;
}

.p-onomichi__slider img {
	flex-shrink: 0;
	width: 100px;
}

.p-onomichi__swiper .swiper-wrapper {
	transition-timing-function: linear !important;
}

.p-onomichi__swiper .swiper-slide {
	width: auto;
}

.p-enter {
	background-color: #e9f6f8;
	overflow: hidden;
	padding-bottom: 25px;
	padding-top: 65px;
	position: relative;
}

.p-enter__inner {
	padding-inline: 20px;
}

.p-enter__lists {
	margin: 0 auto;
	padding-bottom: 14px;
	padding-top: 32px;
	position: relative;
	text-align: center;
}

.p-enter__image01 {
	position: absolute;
	right: -31px;
	top: -106px;
	z-index: 1;
}

.p-enter__image01 img {
	flex-shrink: 0;
	width: 160px;
}

.p-enter__image02 {
	left: 0;
	position: absolute;
	top: -106px;
	z-index: 1;
}

.p-enter__image02 img {
	flex-shrink: 0;
	width: 135px;
}

.p-enter__image03 {
	left: 20px;
	position: absolute;
	top: 444px;
	transform: scale(1, -1);
}

.p-enter__image03 img {
	flex-shrink: 0;
	width: 55px;
}

.p-enter__image04 {
	position: absolute;
	right: 20px;
	top: 774px;
	transform: scale(-1, -1);
}

.p-enter__image04 img {
	flex-shrink: 0;
	width: 55px;
}

.p-enter__item {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 16px;
	position: relative;
	z-index: 50;
}

.p-enter__item img {
	flex-shrink: 0;
	width: 196px;
}

.p-enter__item-line--sp {
	position: absolute;
	top: 15px;
	width: 9px;
}

.p-enter__item-line--pc {
	display: none;
}

.p-enter__item + .p-enter__item {
	padding-top: 50px;
}

.p-enter__item-title {
	font-size: 16px;
	font-weight: 700;
	line-height: 1.6;
}

.p-enter__item-text {
	font-size: 12px;
	font-weight: 400;
	line-height: 1.6;
}

.p-enter__item-follow {
	align-items: center;
	background-color: #fff;
	display: flex;
	justify-content: center;
	padding: 8px 12px;
}

.p-enter__item-follow-text {
	font-size: 14px;
	font-weight: 700;
	line-height: 1.6;
	padding-left: 8px;
}

.u-inner {
	padding-inline: 20px;
}

.u-header__button {
	margin-left: 4px;
}

.u-sp__hidden {
	display: none;
}

.u-under-line {
	text-decoration-line: underline;
	text-underline-offset: 2px;
}

.u-bold {
	font-weight: 700;
}

@media screen and (min-width: 768px) {

.l-header {
	padding-bottom: 13px;
	padding-top: 14px;
}

.l-header__logo img {
	flex-shrink: 0;
	height: 24px;
	width: 183px;
}

.l-header__open {
	display: none;
}

.l-header__pc-menu {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: 12px;
}

.c-button__text {
	font-size: 20px;
}

.c-button__text {
	padding: 10px 38px 10px 38px;
}

.c-title {
	gap: 8px;
}

.c-title__image {
	height: 48px;
	width: 48px;
}

.c-title__en {
	font-size: 20px;
}

.c-title__ja {
	border-bottom: 8px solid var(--LP-Yellow, #ffee56);
	font-size: 32px;
	padding-bottom: 8px;
}

.p-mv__bg img {
	height: 740px;
}

.p-mv__text-sub {
	font-size: 24px;
	font-weight: 500;
	line-height: 1.2;
	padding-bottom: 25px;
	padding-top: 35px;
}

.p-mv__text-main {
	top: 118px;
}

.p-mv__text-main-first img {
	height: 82px;
	width: 520px;
}

.p-mv__text-main-second img {
	height: 60px;
	width: 356px;
}

.p-mv__text-main-second {
	padding-top: 16px;
}

.p-mv__body {
	bottom: -79px;
}

.p-mv__body-iphone picture img {
	height: 510px;
	width: 250px;
}

.p-mv__body-fukidashi img {
	height: 130px;
	width: 244px;
}

.p-mv__body-fukidashi {
	left: -262px;
	top: -33px;
}

.p-mv__body-present img {
	height: 180px;
	width: 180px;
}

.p-mv__body-present {
	right: -172px;
	top: -16px;
}

.p-mv__body-food img {
	flex-shrink: 0;
	height: 332px;
	width: 212px;
}

.p-mv__body-food {
	bottom: -16px;
	left: -240px;
}

.p-mv__body-catBlack img {
	height: 190px;
	width: 170px;
}

.p-mv__body-catBlack {
	bottom: 44px;
	right: -235px;
}

.p-mv__body-catBrown img {
	height: 174px;
	width: 233px;
}

.p-mv__body-catBrown {
	bottom: -61px;
	right: -250px;
}

.p-campaign {
	padding-top: 30px;
}

.p-campaign__container {
	border-radius: 40px;
	margin: 0 auto;
	max-width: 848px;
}

.p-campaign__deco01 {
	right: 165px;
	top: -49px;
}

.p-campaign__deco01 img {
	height: 220px;
	width: 100px;
}

.p-campaign__deco02 {
	right: -284px;
	top: 73px;
}

.p-campaign__deco02 img {
	flex-shrink: 0;
	height: 480px;
	width: 480px;
}

.p-campaign__deco03 {
	left: -338px;
	top: 74px;
}

.p-campaign__deco03 img {
	flex-shrink: 0;
	height: 480px;
	width: 480px;
}

.p-campaign__deco04 {
	bottom: 228px;
	right: 150px;
}

.p-campaign__deco04 img {
	flex-shrink: 0;
	height: 100.047px;
	width: 101px;
}

.p-campaign__deco05 {
	bottom: 20px;
	right: 74px;
}

.p-campaign__deco05 img {
	height: 150.604px;
	width: 308px;
}

.p-campaign__deco06 {
	display: block;
	left: -20px;
	position: absolute;
	top: 10px;
}

.p-campaign__deco06 img {
	flex-shrink: 0;
	height: 250px;
	width: 250px;
}

.p-campaign__deco07 {
	bottom: 176px;
	display: block;
	position: absolute;
	right: -566px;
}

.p-campaign__deco07 img {
	height: 45.021px;
	width: 873.922px;
}

.p-campaign__top {
	max-width: 360px;
}

.p-campaign__image01 {
	left: -159px;
	top: 0;
}

.p-campaign__image01 img {
	width: 147px;
}

.p-campaign__image02 {
	right: -159px;
	top: 7px;
}

.p-campaign__image02 img {
	width: 147px;
}

.p-campaign__body-top {
	font-size: 16px;
	padding-bottom: 32px;
	padding-top: 34px;
}

.p-campaign__body-middle {
	font-size: 16px;
}

.p-campaign__body-middle + .p-campaign__body-middle {
	padding-top: 27px;
}

.p-campaign__body-end {
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 1.6;
	max-width: none;
	padding-bottom: 9px;
	padding-top: 45px;
	width: -moz-fit-content;
	width: fit-content;
}

.p-campaign__button {
	padding-top: 32px;
}

.p-campaign__arrow svg {
	flex-shrink: 0;
	height: 50px;
	width: 140px;
}

.p-campaign__arrow {
	bottom: 45px;
}

.p-onomichi {
	padding-top: 64px;
}

.p-onomichi__bg img {
	width: 427px;
}

.p-onomichi__bg {
	left: -103px;
	top: -674px;
}

.p-onomichi__title {
	transform: translateY(4px);
}

.p-onomichi__slider img {
	width: 200px;
}

.p-enter {
	padding-top: 117px;
}

.p-enter__lists {
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(3, 1fr);
	justify-content: center;
	max-width: 1024px;
	padding-bottom: 48px;
	padding-top: 41px;
}

.p-enter__image01 {
	right: 10px;
	top: -171px;
}

.p-enter__image01 img {
	flex-shrink: 0;
	width: 250px;
}

.p-enter__image02 {
	left: 10px;
	top: -200px;
}

.p-enter__image02 img {
	width: 300px;
}

.p-enter__image03 {
	left: 10px;
	top: 435px;
}

.p-enter__image03 img {
	width: 100px;
}

.p-enter__image04 {
	display: none;
}

.p-enter__item img {
	width: 210px;
}

.p-enter__item {
	max-width: 317px;
}

.p-enter__item-line--sp {
	display: none;
}

.p-enter__item-line--pc {
	display: block;
	left: -97px;
	position: absolute;
	top: 204px;
}

.p-enter__item + .p-enter__item {
	padding-top: 0;
}

.p-enter__item:nth-of-type(2) {
	padding-top: 67px;
}

.p-enter__item-title {
	font-size: 20px;
	padding-top: 8px;
}

.p-enter__item-text {
	font-size: 14px;
}

.p-enter__item-follow-text {
	font-size: 16px;
}

.u-inner {
	padding-inline: 24px;
}

.u-header__button {
	align-items: center;
	display: flex;
	font-size: 14px;
	height: 36px;
	padding: 6px 24px 8px 21px;
}

.u-sp__hidden {
	display: inline-block;
}

.u-pc__hidden {
	display: none;
}

}

@media screen and (min-width: 950px) {

.l-header__pc-link {
	font-size: 12px;
}

.p-mv__body-food {
	left: -299px;
}

.p-mv__body-catBrown {
	right: -299px;
}

.p-enter__lists {
	gap: 37px;
}

.p-enter__image01 {
	right: -208px;
	top: -171px;
}

.p-enter__image01 img {
	flex-shrink: 0;
	width: 433px;
}

.p-enter__image02 {
	left: -203px;
	top: -200px;
}

.p-enter__image02 img {
	width: 415px;
}

.p-enter__image03 {
	left: -207px;
	top: 435px;
}

.p-enter__item img {
	width: 280px;
}

.p-enter__item-text {
	font-size: 16px;
}

}

@media screen and (max-width: 350px) {

.p-campaign__container {
	padding-inline: 20px;
}

}

